.formulaire-section {
  padding: 5.68em 0;
}
.formulaire-section .container {
  display: flex;
  flex-direction: row;
}
.formulaire-section .container .form-text {
  display: flex;
  flex-direction: column;
}
.formulaire-section .container .form-text .h4-like,
.formulaire-section .container .form-text .h1-like {
  text-align: left;
}
.formulaire-section .container .form-text .orange:not(:first-child) {
  font-size: 0.875em;
}
.formulaire-section .container .form-text .nunito-text {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.formulaire-section .container .form-text .social-list {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  filter: opacity(0.5);
}
.formulaire-section
  .container
  .form-text
  .social-list
  .social-item:not(:first-child) {
  margin-left: 1.875em;
}
.formulaire-section .container .form-content {
  display: flex;
  flex-direction: column;
  margin-left: 3.25em;
}
.formulaire-section .container .form-content form {
  display: flex;
  flex-direction: column;
}
.formulaire-section .container .form-content form .label-title {
  margin-bottom: 0.875em;
}
.formulaire-section .container .form-content form input:not(.button-orange) {
  margin-bottom: 1.5em;
  min-width: 33.5em;
  min-height: 3.4375em;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
}
.formulaire-section .container .form-content form .select-content {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-count: 2;
  column-count: 2;
}
.formulaire-section .container .form-content form .select-content .select-item {
  display: flex;
  flex-direction: column;
}
.formulaire-section
  .container
  .form-content
  form
  .select-content
  .select-item
  select {
  width: 16.25em;
  min-height: 3.4375em;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  padding-left: 1.5em;
  font-family: "Nunito", sans-serif;
}
.formulaire-section .container .form-content form textarea {
  margin-bottom: 2em;
  width: 33.5em;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  color: #333333;
  opacity: 50%;
  padding-top: 1em;
  padding-left: 1.5em;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  height: 9em;
}
.formulaire-section .container .form-content form .button-orange {
  width: 168px;
  font-weight: 700;
}

.contact-main section {
  justify-content: space-between;
  margin-bottom: 5em;
  border-top: 1px solid var(--bluedark);
  padding-top: 3.375em;
}

.section-content {
  width: 39.0625em;
  flex-direction: column;
  justify-content: left;
}

.social-item .social-link {
  background: url("/img/GitHub.svg");
}
.contact-main
  section
  .social-menu
  .social-list
  .social-item:nth-child(2)
  .social-link {
  background-image: url("/img/black_twitter.svg");
}
.contact-main
  section
  .social-menu
  .social-list
  .social-item:last-child
  .social-link {
  background-image: url("/img/linkedin.svg");
}

.contact-main section .social-menu .social-list .social-item:nth-child(2) {
  margin: 0 15px;
}
.contact-main section .section-content .sous_texte {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0;
  text-decoration: none;
  margin-bottom: 18px;
}
.contact-main section {
  justify-content: space-between;
  margin-bottom: 5em;
  border-top: 1px solid var(--bluedark);
  padding-top: 3.375em;
}

.contact-main section .social-menu .social-list .social-item .social-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  min-width: 25px;
  height: 25px;
}
.contact-main section .section-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.contact-main section .social-menu .social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
}

.contact-main section label {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0px;
  color: var(--bluedark);
  opacity: 0.8;
  font-size: 0.8125em;
  margin-bottom: 15px;
}
.contact-main section input {
  background-color: #33323d1a;
  font-family: "Public Sans", sans-serif;
  text-align: left;
  letter-spacing: 0px;
  color: var(--bluedark);
  font-size: 0.8125em;
  position: relative;
  padding-left: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  resize: none;
  border: 1px solid #ececed;
}

.contact-main section textarea {
  background-color: #33323d1a;
  font-family: "Public Sans", sans-serif;
  text-align: left;
  letter-spacing: 0px;
  color: var(--bluedark);
  font-size: 0.8125em;
  position: relative;
  padding-left: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  resize: none;
  border: 1px solid #ececed;
}
.contact-main section textarea::-moz-placeholder {
  opacity: 0.4;
}
.contact-main section textarea:-ms-input-placeholder {
  opacity: 0.4;
}
.contact-main section textarea::placeholder {
  opacity: 0.4;
}
.contact-main section textarea:hover {
  transition: 0.3s ease-in-out;
  background: #ececed 0% 0% no-repeat padding-box;
  border: 1px solid var(--vert);
  opacity: 1;
}
.contact-main section textarea:hover::-moz-placeholder {
  opacity: 1;
}
.contact-main section textarea:hover:-ms-input-placeholder {
  opacity: 1;
}
.contact-main section textarea:hover::placeholder {
  opacity: 1;
}
.contact-main section .submit-btn {
  font-family: "Public Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  font-size: 0.75em;
  padding: 16px 0px 16px 40px;
  color: white;
  text-align: center;
  background-color: #203a4c;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  font-weight: 400;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 24px;
  border: none;
  margin-top: 0;
  margin-bottom: 24px;
}
.contact-main section .submit-btn:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--vert);
}
.contact-main section .submit-btn:disabled {
  background-color: #d7d7d7;
  transition: 0.3s ease-in-out;
}
.contact-main section input:hover::placeholder {
  opacity: 1;
}

.contact-main section .status {
  font-family: "Public Sans", sans-serif;
  color: var(--red);
  font-weight: 600;
  font-style: italic;
  text-align: left;
  font-size: 0.625em;
  margin-bottom: 32px;
}
.contact-main section .invalid-input {
  background: #ececed 0% 0% no-repeat padding-box;
  border: 1px solid #f43030;
  opacity: 1;
}

@media screen and (min-width: 650px) and (max-width: 1024px) {
  .get,
  .contact {
    flex-direction: column;
  }
  .contact-main {
    width: 90%;
    margin: auto;
  }
  .get h2 {
    font-size: 2.5rem;
  }
  .contact h2 {
    font-size: 2.5rem;
  }
  .get p {
    padding: 2rem 0 0 0;
    width: 100%;
  }
  #my-form {
    padding-top: 2rem;
    width: 80%;
  }
  .section-content {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .get,
  .contact {
    flex-direction: column;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #my-form {
    width: 100%;
  }
  .section-content {
    width: 100%;
  }
} ;
