.portfolio-container-content {
  width: 30%;
  margin: 0 auto;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.portfolio-container-content p {
  margin-bottom: 3em;
}

.portfolio-container-content h2 {
  color: #33323d;
}

/* RESPONSIVE TABLETTE */

@media screen and (min-width: 650px) and (max-width: 1024px) {
  section {
    display: grid;
    gap: 4.25rem;
  }

  img {
    object-fit: cover;
    width: 45%;
  }
  .portfolio-container-content {
    max-width: 45%;
    padding-bottom: 5em;
  }
  .portfolio-style {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .portfolio-style {
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-width: 630px;
    text-align: left;
    justify-content: unset;
    margin-top: 1rem;
  }
  .portfolio-style img {
    margin-bottom: 5rem;
  }
  .portfolio-container-content {
    width: 100%;
  }

  .h1-like {
    font-size: 2.5rem;
    margin-top: 35px;
  }

  .portfolio-container-content {
    padding-bottom: 5rem;
  }
} ;
