/* VARIABLES */

:root {
  --vert: rgb(95, 180, 162);
  --blue: rgb(32, 58, 76);
  --bluedark: rgb(51, 50, 61);
  --greylight: rgb(250, 250, 250);
  --grey: rgb(234, 234, 235);
  --red: rgb(244, 48, 48);
}

/*STYLES*/
.h1-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125em;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 50px;
  margin-top: 58px;
  margin-bottom: 38px;
}

.h2-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2.5em;
  font-weight: 700;
}

.h3-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2em;
  font-weight: 400;
}

body {
  background-color: var(--greylight);
  font-family: -webkit-pictograph;
}

a {
  text-decoration: none;
  color: initial;
}

/* BUTTONS */

.btn {
  min-height: 48px;
  min-width: 200px;
  text-transform: uppercase;
  padding: 19px 34px 15px 32px;
  font-family: "Public Sans";
  text-align: center;
}

.btn-primary {
  font-family: "Public Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  font-size: 0.75em;
  padding: 16px 0px 16px 40px;
  color: white;
  text-align: center;
  background-color: var(--blue);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-primary:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--vert);
}

.btn-primary:disabled {
  background-color: #D7D7D7;
  transition: 0.3s ease-in-out;
}

.btn-secondary {
  background-color: white;
  border: 1px solid var(--bluedark);
  color: black;
}

.btn-secondary:hover {
  background-color: var(--bluedark);
  color: white;
}
/* GENERAL CLASSES */

.h1-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125em;
  font-weight: 700;
  letter-spacing: -0.36px;
  line-height: 50px;
  margin-top: 58px;
  margin-bottom: 38px;
}
.container {
  width: 69.15em;
  margin: 0 auto;
}

.flex {
  display: flex;
}

section {
  margin-bottom: 10em;
}

p {
  line-height: 2em;
}
/* HEADER */

header {
  padding: 2em 0px;
}
.main-nav {
  justify-content: space-between;
}

.main-nav .ancre {
  background-image: url(/img/Combined-shape.svg);
  background-size: cover;
  height: 32px;
  width: 60.08px;
}

.main-nav .nav-list .item-nav-list {
  font-family: "Public Sans";
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}

.main-nav .nav-list .item-nav-list a:hover {
  color: var(--vert);
}


/* HOME */

.hero {
  background-image: url(/img/Bitmap.png);
  background-size: cover;
  height: 600px;
}

.hero-bg {
  width: 27.8125em;
  background-color: #fafafa;
  position: absolute;
  bottom: -2%;
  flex-direction: column;
}

.hero-bg a {
  width: 45%;
}

.hero .btn-primary::before {
  content: url(/img/down_arrows.svg);
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  padding: 16px;
}
/* SECOND SECTION HOME */

.second-section-home div {
  margin: auto;
  width: 30%;
}

.second-section-home div p {
  margin-bottom: 2em;
}

/* THIRD SECTION HOME */

.contact-us {
  align-items: center;
  margin-bottom: 5em;
  margin-top: 5em;
}

.contact-us h2 {
  font-family: "Ibarra Real Nova";
}
.linear {
  height: 1px;
  width: 80%;
  background: #dcdcde;
  margin: 0 2rem;
}

/* FOOTER */

footer {
  background-color: var(--bluedark);
  height: 80px;
  padding: 2em 0;
  color: #fafafa;
}
.container-footer {
  justify-content: space-between;
  font-family: "Public Sans";
  text-transform: uppercase;
  font-size: 12px;
  align-items: center;
}

.container-footer .first-list-item-footer {
  padding: 10px;
  letter-spacing: 2px;
  margin: auto;
}

.container-footer img {
  margin-right: 2em;
}

.container-footer .second-list-item-footer {
  padding: 10px;
  margin: auto;
}


/* RESPONSIVE */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .container {
    width: 43em;
  }

  main {
    margin-bottom: initial;
  }
  main .hero {
    margin-bottom: initial;
  }
  main .hero .hero-content {
    bottom: 274px;
  }
  main .about {
    margin-top: 6.2em;
    margin-bottom: 6.2em;
  }
  main .project {
    margin-bottom: 4.7em;
  }
  main .project span {
    min-width: 7.0625em;
  }

  .portfolio-main section .section-content {
    width: 281px;
  }
  .portfolio-main section figure {
    width: initial;
    height: initial;
    align-self: center;
  }
  .portfolio-main .project {
    margin-top: 5.25em;
    margin-bottom: 4.5625em;
  }
  .portfolio-main .project span {
    min-width: 7.0625em;
  }

  .bookmark-main-page, .manage-main-page, .fylo-main-page, .insure-main-page {
    margin-bottom: 0;
  }
  .bookmark-main-page .section-project, .manage-main-page .section-project, .fylo-main-page .section-project, .insure-main-page .section-project {
    flex-direction: column;
  }
  .bookmark-main-page .section-project figure, .manage-main-page .section-project figure, .fylo-main-page .section-project figure, .insure-main-page .section-project figure {
    margin-top: 2.5em;
  }
  .bookmark-main-page .section-content, .manage-main-page .section-content, .fylo-main-page .section-content, .insure-main-page .section-content {
    margin-top: 2.5em;
  }
  .bookmark-main-page .section-content:first-child, .manage-main-page .section-content:first-child, .fylo-main-page .section-content:first-child, .insure-main-page .section-content:first-child {
    margin-right: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas: "A B" "C B" "D B" "E B";
  }
  .bookmark-main-page .section-content:first-child .h2-like, .manage-main-page .section-content:first-child .h2-like, .fylo-main-page .section-content:first-child .h2-like, .insure-main-page .section-content:first-child .h2-like {
    grid-area: A;
    margin-top: 34px;
  }
  .bookmark-main-page .section-content:first-child .body2, .manage-main-page .section-content:first-child .body2, .fylo-main-page .section-content:first-child .body2, .insure-main-page .section-content:first-child .body2 {
    grid-area: B;
    margin-left: 4.7em;
  }
  .bookmark-main-page .section-content:first-child:last-child.cyan, .manage-main-page .section-content:first-child:last-child.cyan, .fylo-main-page .section-content:first-child:last-child.cyan, .insure-main-page .section-content:first-child:last-child.cyan {
    grid-area: D;
  }
  .bookmark-main-page .section-content:first-child .cyan:nth-of-type(1), .manage-main-page .section-content:first-child .cyan:nth-of-type(1), .fylo-main-page .section-content:first-child .cyan:nth-of-type(1), .insure-main-page .section-content:first-child .cyan:nth-of-type(1) {
    grid-area: C;
  }
  .bookmark-main-page .section-content:first-child .secondary-btn, .manage-main-page .section-content:first-child .secondary-btn, .fylo-main-page .section-content:first-child .secondary-btn, .insure-main-page .section-content:first-child .secondary-btn {
    grid-area: E;
    margin-top: 0;
  }
  .bookmark-main-page .project, .manage-main-page .project, .fylo-main-page .project, .insure-main-page .project {
    margin-top: 5.25em;
    margin-bottom: 4.5625em;
  }
  .bookmark-main-page .project span, .manage-main-page .project span, .fylo-main-page .project span, .insure-main-page .project span {
    min-width: 7.0625em;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px){

}