/* VARIABLES */

:root {
  --vert: rgb(95, 180, 162);
  --blue: rgb(32, 58, 76);
  --bluedark: rgb(51, 50, 61);
  --greylight: rgb(250, 250, 250);
  --grey: rgb(234, 234, 235);
  --red: rgb(244, 48, 48);
}

/*STYLES*/
.h1-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125em;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 50px;
  margin-top: 58px;
  margin-bottom: 38px;
}

.h2-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2.5em;
  font-weight: 700;
}

.h3-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2em;
  font-weight: 400;
}

body {
  background-color: var(--greylight);
  font-family: -webkit-pictograph;
}

a {
  text-decoration: none;
  color: initial;
}

/* BUTTONS */

.btn {
  min-height: 48px;
  min-width: 200px;
  text-transform: uppercase;
  padding: 19px 34px 15px 32px;
  font-family: "Public Sans";
  text-align: center;
}

.btn-primary {
  font-family: "Public Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  font-size: 0.75em;
  padding: 16px 0px 16px 40px;
  color: white;
  text-align: center;
  background-color: var(--blue);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-primary:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--vert);
}

.btn-primary:disabled {
  background-color: #d7d7d7;
  transition: 0.3s ease-in-out;
}

.btn-secondary {
  background-color: white;
  border: 1px solid var(--bluedark);
  color: black;
}

.btn-secondary:hover {
  background-color: var(--bluedark);
  color: white;
}
/* GENERAL CLASSES */

.h1-like {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125em;
  font-weight: 700;
  letter-spacing: -0.36px;
  line-height: 50px;
  margin-top: 58px;
  margin-bottom: 38px;
}
.container {
  width: 69.15em;
  margin: 0 auto;
  padding: 5px;
}

.flex {
  display: flex;
}

section {
  margin-bottom: 10em;
}

p {
  line-height: 2em;
}
/* HEADER */

header {
  padding: 2em 0px;
  width: 100%;
}
.main-nav {
  justify-content: space-between;
}

.main-nav .ancre {
  background-image: url(/img/Combined-shape.svg);
  background-size: cover;
  height: 32px;
  width: 60.08px;
}

.main-nav .nav-list .item-nav-list {
  font-family: "Public Sans";
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}

.main-nav .nav-list .item-nav-list a:hover {
  color: var(--vert);
}

/* HOME */

.hero {
  background-image: url(/img/Bitmap.png);
  background-size: cover;
  height: 600px;
  position: relative;
  margin-bottom: 100px;
}

.hero-bg {
  width: 27.8125em;
  background-color: #fafafa;
  position: absolute;
  bottom: 0;
  flex-direction: column;
}

.hero-bg a {
  width: 45%;
}

.hero .btn-primary::before {
  content: url(/img/down_arrows.svg);
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  padding: 16px;
}
.image {
  background-image: url(/img/visage.png);
  background-size: cover;
  width: 50%;
}
/* SECOND SECTION HOME */

.second-section-home .container {
  height: 600px;
  max-width: 21.875em;
  margin-right: 6em;
  margin-left: 7em;
}

.second-section-home div p {
  padding-bottom: 2.125rem;
  padding-top: 2rem;
}

/* THIRD SECTION HOME */

.contact-us {
  align-items: center;
  margin-bottom: 8.625rem;
  margin-top: 5em;
}

.contact-us h2 {
  font-family: "Ibarra Real Nova";
}
.linear {
  height: 1px;
  width: 80%;
  background: #dcdcde;
  margin: 0 2rem;
}

/* FOOTER */

footer {
  background-color: var(--bluedark);
  height: 80px;
  padding: 2em 0;
  color: #fafafa;
}
.container-footer {
  justify-content: space-between;
  font-family: "Public Sans";
  text-transform: uppercase;
  font-size: 12px;
  align-items: center;
}

.container-footer .first-list-item-footer {
  padding: 10px;
  letter-spacing: 2px;
  margin: auto;
}

.container-footer img {
  margin-right: 2em;
}

.container-footer .second-list-item-footer {
  padding: 10px;
  margin: auto;
}
/* RESPONSIVE TABLETTE */

@media screen and (min-width: 650px) and (max-width: 1024px) {
  header {
    margin-top: 10em;
  }

  body {
    line-height: 1em;
  }
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5em;
  }

  .hero-bg {
    position: absolute;
  }
  .container {
    max-width: 100%;
    padding: 1rem;
  }
  .main-nav {
    height: 120px;
    align-items: center;
    padding: 5px;
  }

  .image {
    background-image: url(/img/Alex_tablette.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 50%;
    min-width: 281px;
  }

  .second-section-home h2 {
    display: inline-block;
    font-size: 2.5rem;
  }

  .second-section-home .container {
    margin: auto 0;
  }
  .second-section-home p {
    font-size: 1em;
    padding: 5px;
  }
  .contact-us h2 {
    min-width: 21.875rem;
    padding: 1rem;
    font-size: 2.5rem;
  }

  .btn {
    font-size: 12px;
  }

  .first-list-item-footer {
    letter-spacing: 1px;
  }
}

/* RESPONSIVE PHONE */
@media screen and (max-width: 650px) {
  .container {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }
  .hero {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hero-bg {
    top: 50%;
    margin: 0;
    width: auto;
    background-color: #fafafa;
    padding: 0;
  }
  .image {
    background-image: url(/img/visage.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 312px;
    min-width: 281px;
    margin: auto 0;
    justify-self: center;
  }
  .second-section-home {
    flex-direction: column;
    align-items: center;
  }
  .second-section-home .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 0;
    margin-top: 2rem;
    max-width: 100%;
    margin-right: 0;
    max-height: none;
  }
  .container-footer {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .first-list-footer {
    flex-direction: column;
  }
  .first-list-item-footer:nth-child(1) {
    margin-left: 25px;
  }
  .linear {
    display: none;
  }
  .contact-us {
    flex-direction: column;
  }

  .contact-us h2 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
  footer {
    height: 22em;
    width: 100%;
  }
} ;
